<div class="container">
  <div class="top">
    <h3>Title</h3>
    <h3>Description</h3>
    <h3>Date</h3>
    <button class="add" (click)="onCreateEvent()">+</button>
  </div>
  <div style="visibility: hidden; width: 0; height: 0; padding: 0 0; margin: 0 0;">{{time | async}}</div>
  <div class="events-container">
    <div class="event" *ngFor="let item of events | async">
      <div class="title">
        <span>{{ item.EventTitle }}</span>
      </div>
      <div class="description">
        <span>{{ item.EventDescription }}</span>
      </div>
      <div class="date">
        <span>{{ item.EventDate | date:"short" }}</span>
      </div>
      <button class="delete" (click)="onDeleteEvent(item.EventId)">-</button>
    </div>
  </div>
</div>
