.container {
  .auth-menu {
    width: 25%;
    float: left;
    height: 100vh;
    justify-content: center;
    display: flex;
  }

  .auth-menu > p {
    align-content: center;
    position: absolute;
    font-style: normal;
    font-weight: 500;
    color: #193359;;
  }

  .auth-menu {
    .site-name {
      top: 160px;
      font-weight: bold;
      font-size: 48px;
      line-height: 59px;
      color: #193359;

      @media (max-width: 850px) {
        font-size: 40px;
      }
      @media (max-width: 760px) {
        color: #CEE0FB;
      }
    }

    .log-in-google {
      top: 300px;
      font-size: 18px;
      line-height: 22px;

      @media (max-width: 760px) {
        color: #CEE0FB;
      }
    }

    .btn-sign-in-anonymously {
      position: absolute;
      height: 55px;
      width: 160px;
      top: 470px;
      font-size: 18px;
      color: #1FABAB;
      border: 2px solid #1FABAB;
      border-radius: 6px;
      background: transparent;
      padding: 8px;
      outline: none;

      &:hover {
        cursor: pointer;
        background: linear-gradient(180deg, rgba(250, 255, 254, 0.14) -128.57%, rgba(85, 205, 169, 0.16) 327.66%);;
      }
    }

      .google-logo {
        position: absolute;
        top: 350px;
        width: 100px;
        height: 100px;

        &:hover {
          cursor: pointer;
        }
      }

    @media (max-width: 760px) {
      float: none;
      width: 100%;
      background-image: url("https://images.wallpaperscraft.ru/image/les_tropinka_derevya_118806_1920x1080.jpg");
    }
  }

  .background {
    width: 75%;
    float: left;
    height:100vh;

    @media (max-width: 760px) {
      display: none;
    }
  }

  .background {
    .bg {
      width: 100%;
      height: inherit;
      object-fit: cover;
    }
  }
}
