.container {
  .auth-menu {
    width: 25%;
    float: left;
    height: 100vh;
    justify-content: center;
    display: flex;
  }

  .auth-menu > p {
    align-content: center;
    position: absolute;

    font-style: normal;
    font-weight: 500;

    color: #2A0D68;;
  }

  .auth-menu {
    .site-name {
      top: 160px;
      font-weight: bold;
      font-size: 48px;
      line-height: 59px;
    }

    .log-in-google {
      top: 300px;
      font-size: 18px;
      line-height: 22px;
    }

    .log-in-incognito {
      top: 450px;
      font-size: 18px;
      line-height: 22px;
      color: #3431D6;
      &:hover {
        color: lightseagreen;
        cursor: pointer;
      }
    }

    .google-logo {
      position: absolute;
      top: 330px;
      width: 150px;
      height: 150px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .background {
    width: 75%;
    float: left;
    height:100vh;
  }

  .background {
    .bg {
      width: 100%;
      height: inherit;
      object-fit: cover;
    }
  }
}
