.modal {
  position: relative;
  width: 300px;
  max-width: 420px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 2px 2px rgba(27, 50, 83, 0.73);
  border-radius: 5px;
  top: 200px;
  justify-content: center;
  height: 120px;
  padding-left: 10px;
  padding-right: 10px;
  color: #0A0C1F;


  .header {
    position: relative;
    justify-content: center;
    display: flex;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .container > div {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    width: 50%;

    .btn-submit {
      color: #EA7676;
      border-color: #EA7676;
    }
  }

  button {
    background-color: rgba(27, 50, 83);
    width: 130px;
  }
}
