<modal>
  <div class="modal">
    <div class="header">
      <h3 class="modal-name">Add event!</h3>
      <button class="close" (click)="cbClose.emit()">-</button>
    </div>
    <form class="form">
      <div class="input-title">
        <input ngModel maxlength="35" name="title" placeholder="Name your event...">
      </div>
      <div class="input-description">
        <textarea maxlength="170" name="description" placeholder="Describe your event here..."></textarea>
      </div>
      <div class="input-time">
        <input type="datetime-local">
      </div>
      <button class="btn-add-event">Add</button>
    </form>
  </div>
</modal>
